{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_info_image_link%}
    {% if lineItem.payload.shirtnetwork %}
        <a href="{{ designer_config_link(lineItem.payload.shirtnetwork) }}"
           class="cart-item-img-link"
           title="{{ lineItem.label }}"
        >
            <img class="img-fluid cart-item-img" alt="{{ (lineItem.cover.translated.alt ?: '') }}" title="{{ (lineItem.cover.translated.title ?: '') }}" src="{{ lineItem.payload.shirtnetworkconfig.views.0.icon }}" />
        </a>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_item_info_label %}
    {% if lineItem.payload.shirtnetwork %}
    <a href="{{ seoUrl('frontend.shirtnetwork.designer', {'config': lineItem.payload.shirtnetwork}) }}"
       class="cart-item-label"
       title="{{ lineItem.label }}"
    >
        {{ lineItem.label|u.truncate(60) }}
    </a>
        <br/>
<button class="btn btn-secondary btn-sm"
        type="button"
        data-toggle="modal"
        data-url="{{ seoUrl('frontend.shirtnetwork.config', {config: lineItem.payload.shirtnetwork}) }}">
    Gestaltungs Details
</button>
{% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
