<div id="snwCarousel{{key}}" class="carousel snwCarousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for pic in page.config.views %}
        <li data-target="#snwCarousel{{key}}" data-slide-to="{{loop.index0}}" {% if loop.first %}class="active"{% endif %} style="min-height: auto;"></li>
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for pic in page.config.views %}
        <div class="item carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{pic.picture}}" class="img-responsive img-fluid center-block" style="display:block">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#snwCarousel{{key}}" role="button" data-slide="prev">
        <i class="fas fa-arrow-circle-left fa-2x text-primary"></i>
        <span class="sr-only">Zurück</span>
    </a>
    <a class="carousel-control-next" href="#snwCarousel{{key}}" role="button" data-slide="next">
        <i class="fas fa-arrow-circle-right fa-2x text-primary"></i>
        <span class="sr-only">Weiter</span>
    </a>
</div>

{% for object in page.config.objects %}
<div class="media mt-2">
    <div class="media-left media-middle text-center mr-2" style="width: 87px">
        {% if object.type === 'text' %}
            {% sw_icon 'stack-block' style {
                'size': '2x'
            }%}
        {% elseif object.type === 'logo' ||  object.type === 'user-logo' %}
        <img class="media-object img-thumbnail" src="{{ object.picture|replace({'http://':'//', 'https://':'//'}) }}" style="max-height: 87px; width: 87px">
        {% endif %}
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {% if object.type === 'user-logo' %}
                {{ 'shirtnetwork.config.type.upload' | trans }}
            {% elseif object.type === 'text' %}
                {{ 'shirtnetwork.config.type.text' | trans }}
            {% else %}
                {{ object.logo }}
            {% endif %}
        </h4>

        {% if object.type === 'text' %}
        <blockquote><i>{{ object.text }}</i></blockquote>
        {{ 'shirtnetwork.config.text.font' | trans }}: {{ object.font }}<br/>
        {% endif %}

        {% if object.type !== 'user-logo' %}
            {% for fill in object.fills %}
                {{ 'shirtnetwork.config.object.color' | trans }}{% if object.fills|length > 1 %} {{ loop.index }}{% endif %}: {{ fill.name }}<br/>
            {% endfor %}
        {% endif %}

        {{ 'shirtnetwork.config.object.printtype' | trans }}: {{ object.printtype }}<br/>

        {% if object.dimensions and object.dimensions.width > 0 %}
            {{ 'shirtnetwork.config.object.size' | trans }}: {{  object.dimensions.width|number_format(2,',','.')}} x {{ object.dimensions.height|number_format(2,',','.') }} cm <br/>
        {% endif %}

        {% for filter in object.filters %}
            {% if filter.type === 'RemoveColor' %}
                {{ 'shirtnetwork.config.filter.removeWhite' | trans }}
            {% endif %}
        {% endfor %}

    </div>
</div>
{% endfor %}
