<div id="snwCarousel{{key}}" class="carousel snwCarousel slide mb-5" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        {% for pic in page.config.views %}
        <button type="button" data-bs-target="#snwCarousel{{key}}" data-bs-slide-to="{{loop.index0}}" {% if loop.first %}class="active" aria-current="true"{% endif %} style="min-height: auto;"></button>
        {% endfor %}
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for pic in page.config.views %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{pic.picture}}" class="d-block w-100" style="display:block">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#snwCarousel{{key}}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Zurück</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#snwCarousel{{key}}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Weiter</span>
    </button>
</div>

{% sw_include '@ShirtnetworkPlugin/storefront/page/checkout/designer-config-objects.html.twig' with { objects: page.config.objects } %}
