{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_product_image_inner%}
    {% if lineItem.payload.shirtnetwork %}
    <div class="cart-item-img">
        <a {% if page.extensions.shirtnetworkConfig.landingPage %}
            href="{{ seoUrl('frontend.landing.page', {'landingPageId': page.extensions.shirtnetworkConfig.landingPage, 'config': lineItem.payload.shirtnetwork }) }}"
        {% else %}
            href="{{ seoUrl('frontend.shirtnetwork.designer', {'config': lineItem.payload.shirtnetwork}) }}"
        {% endif %}
           class="cart-item-img-link"
           title="{{ lineItem.label }}"
        >
            <img class="img-fluid cart-item-img-source" alt="{{ (lineItem.cover.translated.alt ?: '') }}" title="{{ (lineItem.cover.translated.title ?: '') }}" src="{{ lineItem.payload.shirtnetworkconfig.views.0.icon }}" />
        </a>
    </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_offcanvas_product_label %}
    {% if lineItem.payload.shirtnetwork %}
        <div class="cart-item-details">
            <a href="{{ designer_config_link(lineItem.payload.shirtnetwork) }}"
               class="cart-item-label"
               title="{{ label }}">
                {{ quantity }}{{ "checkout.quantityTimes"|trans|sw_sanitize }} {{ label|u.truncate(60) }}
            </a>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
